<!-- views/includes/questionPopover.ejs -->
<a tabIndex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right" title="<%- title %>" data-bs-content="<%- content %>"><img src="img/black-question.svg" class="img-fluid question-link"/></a>