<!-- views/includes/review.ejs -->
<div class="infobox">
    <div class="infobox-score">Containers: <img class="infobox-image img-fluid" src=<%- helpers.getRatingImage(review.containers) %> /></div>
    <div class="infobox-score">Cups: <img class="infobox-image img-fluid" src=<%- helpers.getRatingImage(review.cups) %> /></div>
    <div class="infobox-score">Bags: <img class="infobox-image img-fluid" src=<%- helpers.getRatingImage(review.bags) %> /></div>
    <div class="infobox-score">Utensils: <img class="infobox-image img-fluid" src=<%- helpers.getRatingImage(review.utensils) %> /></div>
</div>