<!-- views/includes/searchBar.ejs -->
<div class="input-group mb-3">
    <input type="text" class="form-control" id="search-field" placeholder="Search/add review for restaurant"
      aria-label="Search for restaurant" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
</div>