<!-- views/includes/searchResult.ejs -->
<li class="list-group-item search-result-item">
    <div class="search-result-title">
        <%- yelpResult.name %>
    </div>
    <% if (reviews[yelpResult.id]) { %>
        <%- include("../includes/review", {review: reviews[yelpResult.id], helpers: helpers}) %>
    <% } else { %>
        <div>No review yet</div>
    <% } %>
</li>