.center {
  align-items: center;
  align-self: center;
  text-align: center;
}

body {
  background: #F8F8F8;
  padding-top: 80px;
  font-family: 'Roboto', 'Segoe UI',Helvetica,Arial,Sans-Serif;
  margin:0;
  padding:0;
}

.infobox {
  background-color: rgb(173, 216,230, .9);
  color: black;
  width: 200px;
  font-size: 20px;
  padding: 10px;
}

.infobox-image {
  max-width: 30%;
  margin-left: 10px;
}

.key-image {
  width: 15%;
}

.keyName {
  width: auto;
}

.search-result-item {
  background-color: rgb(173, 216,230, .9);
  font-size: 20px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.search-result-title {
  font-size: 24px;
}

/* body {
  overflow: hidden;
  height: 100vh;
}

.main-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 100vh;
  scroll-padding-top: 80px;
}

.snap-point {
  scroll-snap-align: start;
} */

.map-View {
  padding-bottom: 20px;
}

.dashboard_mapContainer {
  height: 70vh;
}

#ReviewsMap {
  width: 100%;
  height: 100%;
}