<!DOCTYPE HTML>
<html lang="en">

<%- include('../includes/head') %>

<body>
  <%- include('../includes/nav') %>
  <div>
    <div class="container">
      <div class="jumbotron">
        <figure>
          <blockquote class="blockquote">
            <p>
              "Perhaps our resilience is going to be represented by the takeout box."
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">King County Executive Dow Constantine, 3-16-2020</figcaption>
        </figure>
        <p>
          As the COVID-19 pandemic limited in-person dining, a lot of us are eating a lot more takeout. And that means takeout containers, napkins, utensils and cups. We were inspired to make this site so that we could better track which restaurants provided compostable or recyclable containers and we hope that this resource will be helpful to you as well.
        </br>
      </br>Our experience of composting and recycling is colored by our experiences in where we have lived, including currently in Seattle. Your jurisdiction may accept different materials for curbside recycling and compost, but below are fair general principles:
          <ul>
          <li class="compostable-background">Compostable
            <ul>
              <li>food or products made from plants & animals (organic matter), including paper napkins, bags, and other packaging made only from paper <i>and</i></li>
              <li><b><u>no</u></b> plastic, unless marked as compostable and will at least biodegrade in commercial composting facilities</li>
            </ul>
          </li>
          <li id="recyclable-list">Recyclable
            <ul>
              <li>clean, dry, & three-dimensional plastic and metal, larger than a cup lid to not clog the recycling sorting machines</li>
                <ul>
                  <li>clean & dry aluminum can be balled up to be 3-D and recyclable</li>
                </ul>
              <li>clean & dry paper products, including mixed paper (glossy, plastic-lined, et cetera)</li>
              <li><b><u>no</u></b> styrofoam (at least not curbside), plastic bags (again, not curbside), stickers, mixed materials such as paper lined foil, <u><b>nor</b></u> anything food soiled that can rot and ruin the whole recycling bale</li>
            </ul>
          </li>
        </ul>
        <span class="compostable-background">
          And while you are here, let us give a plug that if manufacturers would make all or at least most messy foods packaging compostable, the system would be a lot easier for consumers. Rather than needing to clean and dry packaging for recycling, any leftover foods or food soils can just be tossed into compost. Our recovery rates would also soar as mixing up recycling/compost/waste (contamination) would drop.
        </span>
      </br>
  </p>
  <figure>
    <blockquote class="blockquote">
      <p>
        "Our resilience will be renewable with compostable food packaging."
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">Lusha, a stormwater data specialist at King County and a <a href="http://www.tilthalliance.org/learn/mcss/mcsb" target="_blank">Master Composter/Sustainbility Steward</a> to David, a software engineer at Microsoft</figcaption>
  </figure>
        <p>
          Thanks for visiting!
          <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>, <a href="" title="xnimrodx">xnimrodx</a>, <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a>,  <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          Chef Image by <a href="https://pixabay.com/users/dandelion_tea-15261675/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5876388">dandelion_tea</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5876388">Pixabay</a>
        </p>
      </div>
    </div>
    <%- include('../includes/scripts') %>
</body>

</html>