<!DOCTYPE HTML>
<html lang="en">

<%- include('../includes/head') %>

<body style="padding-top: 80px">
  <%- include('../includes/nav') %>
  <div>
    <div class="container">
      <div class="jumbotron">
        <p>
          <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          <div>Icons made by <a href="" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          <div>Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          <div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          Chef Image by <a href="https://pixabay.com/users/dandelion_tea-15261675/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5876388">dandelion_tea</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5876388">Pixabay</a>
        </p>
      </div>
    </div>
    <%- include('../includes/scripts') %>
</body>

</html>