<!DOCTYPE HTML>
<html lang="en">

<%- include('../includes/head') %>

<body style="padding-top: 80px">
  <%- include('../includes/nav') %>
  <div>
    <div class="container">
      <div class="jumbotron">
        <p>
          Placeholder for About page
        </p>
      </div>
    </div>
    <%- include('../includes/scripts') %>
</body>

</html>