<!-- views/pages/confiration.ejs -->

<!DOCTYPE HTML>
<html lang="en">
<%- include('../includes/head') %>

<body style="padding-top: 80px">
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <%- include('../includes/nav') %>
  <div class="container">
      <div class="center">
        <h1 class="title center">Thanks for reviewing <%- name %>!</h1>
        <img src="img/happy-cook.svg" alt="checkmark" id="app-header-image" class="img-fluid"/>
    </div>
  <%- include('../includes/scripts') %>
</body>
</html>