<!-- views/pages/index.ejs -->

<!DOCTYPE HTML>
<html lang="en">
<%- include('../includes/head') %>

<body style="padding-top: 80px">
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <%- include('../includes/nav') %>
  <div class="container">
    <div class="jumbotron">
      <div class="center">
        <h1 class="title center">Takeout the compost</h1>
        <img src="img/mask-logo.svg" alt="app icon" id="app-header-image" class="img-fluid"/>
      </div>
      <h2 class="center">
        Top rated near you
      </h2>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="search-field" placeholder="Search for restaurant" aria-label="Search for restaurant" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
      </div>
      <div class="key">
        <div class="row justify-content-center">
          <div class="col-6"><img src="img/compostable.svg" alt="compostable" class="img-fluid key-image" /> <span class="keyName">Compostable</span></div>
          <div class="col-6"><img src="img/recycle.svg" alt="recyclable" class="img-fluid key-image" /> <span class="keyName">Recyclable</span></div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6"><img src="img/remove.svg" alt="x icon" class="img-fluid key-image" /> <span class="keyName">Neither</span></div>
          <div class="col-6"><img src="img/not-available-circle.svg" alt="not available circle" class="img-fluid key-image" /> <span class="keyName">Data not available</span></div>
        </div>
      </div>
      <div class="dashboard_mapContainer">
        <div id="ReviewsMap" style="width: 100%; height: 700px;"></div>
      </div>
      <hr />
    </div>
  </div>
  <%- include('../includes/scripts') %>
</body>

</html>