<!-- views/pages/index.ejs -->

<!DOCTYPE HTML>
<html lang="en">
<%- include('../includes/head') %>

<body style="padding-top: 80px">
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <%- include('../includes/nav') %>
  <div class="container">
    <div class="jumbotron">
      <div class="center">
        <h1 class="title center">Takeout the compost</h1>
        <img src="img/mask-logo.svg" alt="app icon" id="app-header-image" class="img-fluid"/>
      </div>
      <h2 class="center">
        Top rated near you
      </h2>
      <div class="dashboard_mapContainer">
        <div id="ReviewsMap" style="width: 100%; height: 700px;"></div>
      </div>
      <hr />
    </div>
    <%- include('../includes/footer') %>
  </div>
  <%- include('../includes/scripts') %>
</body>

</html>