<!-- views/pages/search.ejs -->

<!DOCTYPE HTML>
<html lang="en">
<%- include('../includes/head') %>

<body style="padding-top: 80px">
  <%- include('../includes/nav') %>
  <div class="container">
    <h1>Search Page</h1>
    <ul class="list-group">
      <% yelpResults.forEach(function(yelpResult){ %>
        <%- include('../includes/searchResult', {yelpResult: yelpResult, reviews: reviewResults}); %>
      <% }); %>
    </ul>
  </div>
  <%- include('../includes/scripts') %>
</body>

</html>